<h2 class="SectionHeader">Question Edit</h2>

<%=render FireEngineWeb.QuestionView, "_form.html", changeset: @changeset,questionTags: @questionTags, tags: @tags, path: question_path(@conn, :update, @question) %>
