<h1 class="section-header text-center">
  Quiz Edit
  <%= link "Import Questions", to: questions_path(@conn, :index, @changeset.data.id), class: "btn btn-primary" %>
</h1>

<%= render FireEngineWeb.QuizView, "_form.html", changeset: @changeset, path: quiz_path(@conn, :update, @quiz) %>
